.h1-yaz{
    margin: -8px auto;
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    animation: hello 1.5s ease-in-out infinite;
    text-align: center;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
@keyframes hello {
    0% {
      font-weight: 100;
    }
    50% {
      font-weight: 900;
    }
    100% {
      font-weight: 100;
    }
}

h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.h6-link{
text-decoration: none;
color: black;
}
button{
  background-color: white;
}